<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Urun Ekleme/ Silme</title>
</head>
<body onload="urunleriGetir()">
<h1>Urun Ekleme/ Silme</h1>

<div class="row" id="kk"></div>
<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" onclick="yeniUrunEkleEkran()">YENİ ÜRÜN EKLE </a>
<br>
<button type="button" class="btn btn-danger" onclick="goBack()">Geri</button>




</body>
</html>